In [41]:
import numpy as np
import pandas as pd

file_path = "../../data/raw/yp_competitors_rws.csv"
file_path = "../../data/processed/yp_kimos-maui-lahaina_rws_preprocessed.csv"
df = pd.read_csv(file_path) 
df.shape

(2493, 6)

In [42]:
df.head()

,status,reviews,sent_tokens,word_tokens,pos_tag,norm_tokens
0,1,Kimo's never disappoints. We come here once o...,"[""Kimo's never disappoints."", 'We come here on...","['Kimo', 'never', 'disappoints', 'We', 'come',...","[('Kimo', 'NNP'), ('never', 'RB'), ('disappoin...","['kimo', 'never', 'disappoint', 'come', 'everi..."
1,0,I was there the first week of October and Firs...,['I was there the first week of October and Fi...,"['I', 'was', 'there', 'the', 'first', 'week', ...","[('I', 'PRP'), ('was', 'VBD'), ('there', 'RB')...","['first', 'week', 'octob', 'first', 'think', '..."
2,1,"This place was on my ""Must Do Maui"" list and i...","['This place was on my ""Must Do Maui"" list and...","['This', 'place', 'was', 'on', 'my', 'Must', '...","[('This', 'DT'), ('place', 'NN'), ('was', 'VBD...","['place', 'must', 'maui', 'list', 'disappoint'..."
3,0,Monday night dinner here and they quickly sat ...,['Monday night dinner here and they quickly sa...,"['Monday', 'night', 'dinner', 'here', 'and', '...","[('Monday', 'NNP'), ('night', 'NN'), ('dinner'...","['monday', 'night', 'dinner', 'quickli', 'sat'..."
4,1,Nice view and amazing cocktails. They are loca...,"['Nice view and amazing cocktails.', 'They are...","['Nice', 'view', 'and', 'amazing', 'cocktails'...","[('Nice', 'NNP'), ('view', 'NN'), ('and', 'CC'...","['nice', 'view', 'amaz', 'cocktail', 'locat', ..."

In [43]:
from itertools import chain
from nltk import FreqDist
import ast

In [44]:
# csv list fix with : ast
df.norm_tokens = df.norm_tokens.apply(lambda x: ast.literal_eval(x))
df.sent_tokens = df.sent_tokens.apply(lambda x: ast.literal_eval(x))
df.pos_tag = df.pos_tag.apply(lambda x: ast.literal_eval(x))
df.word_tokens = df.word_tokens.apply(lambda x: ast.literal_eval(x))

In [45]:
df.head()

,status,reviews,sent_tokens,word_tokens,pos_tag,norm_tokens
0,1,Kimo's never disappoints. We come here once o...,"[Kimo's never disappoints., We come here once ...","[Kimo, never, disappoints, We, come, here, onc...","[(Kimo, NNP), (never, RB), (disappoints, VBZ),...","[kimo, never, disappoint, come, everi, trip, m..."
1,0,I was there the first week of October and Firs...,[I was there the first week of October and Fir...,"[I, was, there, the, first, week, of, October,...","[(I, PRP), (was, VBD), (there, RB), (the, DT),...","[first, week, octob, first, think, staff, wond..."
2,1,"This place was on my ""Must Do Maui"" list and i...","[This place was on my ""Must Do Maui"" list and ...","[This, place, was, on, my, Must, Do, Maui, lis...","[(This, DT), (place, NN), (was, VBD), (on, IN)...","[place, must, maui, list, disappoint, must, co..."
3,0,Monday night dinner here and they quickly sat ...,[Monday night dinner here and they quickly sat...,"[Monday, night, dinner, here, and, they, quick...","[(Monday, NNP), (night, NN), (dinner, NN), (he...","[monday, night, dinner, quickli, sat, group, u..."
4,1,Nice view and amazing cocktails. They are loca...,"[Nice view and amazing cocktails., They are lo...","[Nice, view, and, amazing, cocktails, They, ar...","[(Nice, NNP), (view, NN), (and, CC), (amazing,...","[nice, view, amaz, cocktail, locat, right, lah..."

## Create Vocabulary

In [63]:
vocab = sorted(set(chain(*df.norm_tokens)))
len(vocab)

5226

In [48]:
# bag of words/ binary
df_features = df.apply(
    lambda x: pd.Series(
        1 if w in x.norm_tokens else 0 
        for w in vocab
    ), axis=1)
df_features.columns = vocab
df_features.head()

,aaa,abc,abhor,abi,abid,abil,abl,abnorm,abound,abruptli,...,zen,zero,zest,zinfandel,zing,ziplin,zippi,zone,zoo,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
print([w for w in df.norm_tokens[1]])

['first', 'week', 'octob', 'first', 'think', 'staff', 'wonder', 'let', 'start', 'drink', 'tast', 'water', 'includ', 'coke', 'menu', 'thought', 'limit', 'well', 'known', 'seafood', 'restaur', 'portion', 'good', 'small', 'get', 'better', 'select', 'fresh', 'seafood', 'reason', 'price', 'chicago', 'mile', 'ocean', 'thing', 'go', 'staff', 'view']

In [62]:
df_features.loc[1, set(df.norm_tokens[1])].head()

known    1
staff    1
think    1
get      1
menu     1
Name: 1, dtype: int64

In [69]:
# bag of words/ frequency
df_features_freq = df.apply(
    lambda x: pd.Series(
        x.norm_tokens.count(w) if w in x.norm_tokens else 0 
        for w in vocab
    ), axis=1)
df_features_freq.columns = vocab
df_features_freq.head()

,aaa,abc,abhor,abi,abid,abil,abl,abnorm,abound,abruptli,...,zen,zero,zest,zinfandel,zing,ziplin,zippi,zone,zoo,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2493 entries, 0 to 2492
Columns: 5226 entries, aaa to zucchini
dtypes: int64(5226)
memory usage: 99.4 MB

In [64]:
df.norm_tokens[0].count('make')

3

In [67]:
set([df.norm_tokens[0].count(w) if w in df.norm_tokens[0] else 0 
 for w in vocab
])

{0, 1, 2, 3}

In [69]:
set(df_features.iloc[0,:])

{0, 1}

In [75]:
df_features_freq.to_csv("../../data/processed/yp_kimos-maui-lahaina_rws_features.csv", index=False)