In [1]:
# imports
import nltk
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import json

from textblob import TextBlob
from textblob import Word
from nltk.stem import PorterStemmer
try:
    from nltk.corpus import stopwords
    stop = stopwords.words('english')
except:
    nltk.download('stopwords')

In [2]:
json_data = {}

with open('../../data/raw/yp_dukes-waikiki-honolulu-2_rws.json') as f:
    json_data = json.loads(f.read())

dataset = json_normalize(json_data['reviews'])
dataset.head()

reviews = dataset.iloc[:,2]
reviews.head()

0    Nice view, Nice music , Nice waiter. I ate Fis...
1    Breakfast buffet was fine. Nothing memorable b...
2    Stopped by on a weekday night and the place wa...
3    The wait is worth it!! They have great reviews...
4    Stopped by Duke's after strolling down the bea...
Name: description, dtype: object

In [3]:
dataset['word_count'] = reviews.apply(lambda x: len(str(x).split(" ")))

In [4]:
dataset['chr_count'] = reviews.str.len()

In [5]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))
dataset['avg_word_len'] = reviews.apply(lambda x: avg_word(x))

In [6]:
dataset['num_of_stopwords'] = reviews.apply(lambda x: len([x for x in x.split() if x in stop]))

In [7]:
dataset['hashtags'] = reviews.apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [8]:
dataset['numerics'] = reviews.apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [9]:
dataset['uppercase_cnt'] = reviews.apply(lambda x: len([x for x in x.split() if x.isupper()]))

In [10]:
dataset.head()

,author,datePublished,description,ratingValue,word_count,chr_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,Lika K.,2018-10-12,"Nice view, Nice music , Nice waiter. I ate Fis...",4,47,232,4.044444,13,0,0,2
1,H H.,2018-10-13,Breakfast buffet was fine. Nothing memorable b...,1,132,791,4.766423,39,0,0,5
2,B B.,2018-10-11,Stopped by on a weekday night and the place wa...,3,267,1539,4.702602,112,0,2,3
3,Kimberly P.,2018-09-28,The wait is worth it!! They have great reviews...,5,102,548,4.386139,37,1,1,0
4,Diana E.,2018-09-27,Stopped by Duke's after strolling down the bea...,4,113,588,4.234234,44,0,0,1

In [11]:
dataset.to_csv('../../data/processed/yp_dukes-waikiki-honolulu-2_rws-basicfeatures.csv')

In [12]:
dataset_test = pd.read_csv('../../data/processed/yp_dukes-waikiki-honolulu-2_rws-basicfeatures.csv')
dataset_test.head()

,Unnamed: 0,author,datePublished,description,ratingValue,word_count,chr_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,0,Lika K.,2018-10-12,"Nice view, Nice music , Nice waiter. I ate Fis...",4,47,232,4.044444,13,0,0,2
1,1,H H.,2018-10-13,Breakfast buffet was fine. Nothing memorable b...,1,132,791,4.766423,39,0,0,5
2,2,B B.,2018-10-11,Stopped by on a weekday night and the place wa...,3,267,1539,4.702602,112,0,2,3
3,3,Kimberly P.,2018-09-28,The wait is worth it!! They have great reviews...,5,102,548,4.386139,37,1,1,0
4,4,Diana E.,2018-09-27,Stopped by Duke's after strolling down the bea...,4,113,588,4.234234,44,0,0,1