In [1]:
# imports
import nltk
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import json

from textblob import TextBlob
from textblob import Word
from nltk.stem import PorterStemmer
try:
    from nltk.corpus import stopwords
    stop = stopwords.words('english')
except:
    nltk.download('stopwords')

In [2]:
json_data = {}

with open('../../data/raw/yp_keokis-paradise-koloa_rws.json') as f:
    json_data = json.loads(f.read())

dataset = json_normalize(json_data['reviews'])
dataset.head()

reviews = dataset.iloc[:,2]
reviews.head()

0    Hula Grill ended up being our go-to breakfast ...
1    You can't head back to the airport to leave Ha...
2    This is located on the beach side of Waikiki a...
3    Came here at nine on a Sunday. There was a sho...
4    Finally came here for Aloha Hour, every day 3-...
Name: description, dtype: object

In [3]:
dataset['word_count'] = reviews.apply(lambda x: len(str(x).split(" ")))

In [4]:
dataset['chr_count'] = reviews.str.len()

In [5]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))
dataset['avg_word_len'] = reviews.apply(lambda x: avg_word(x))

In [6]:
dataset['num_of_stopwords'] = reviews.apply(lambda x: len([x for x in x.split() if x in stop]))

In [7]:
dataset['hashtags'] = reviews.apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [8]:
dataset['numerics'] = reviews.apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [9]:
dataset['uppercase_cnt'] = reviews.apply(lambda x: len([x for x in x.split() if x.isupper()]))

In [10]:
dataset.head()

,author,datePublished,description,ratingValue,word_count,chr_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,Luci H.,2018-10-11,Hula Grill ended up being our go-to breakfast ...,5,128,718,4.550388,55,0,0,0
1,Tiffany D.,2018-10-11,You can't head back to the airport to leave Ha...,4,644,3540,4.432974,232,0,0,50
2,Hazel F.,2018-10-10,This is located on the beach side of Waikiki a...,5,275,1428,4.292135,110,0,0,6
3,Sean A.,2018-10-07,Came here at nine on a Sunday. There was a sho...,3,155,839,4.422078,48,0,0,7
4,Chelsea S.,2018-10-02,"Finally came here for Aloha Hour, every day 3-...",4,433,2416,4.512586,159,0,1,8

In [11]:
dataset.to_csv('../../data/processed/yp_keokis-paradise-koloa_rws-basicfeatures.csv')

In [12]:
dataset_test = pd.read_csv('../../data/processed/yp_keokis-paradise-koloa_rws-basicfeatures.csv')
dataset_test.head()

,Unnamed: 0,author,datePublished,description,ratingValue,word_count,chr_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,0,Luci H.,2018-10-11,Hula Grill ended up being our go-to breakfast ...,5,128,718,4.550388,55,0,0,0
1,1,Tiffany D.,2018-10-11,You can't head back to the airport to leave Ha...,4,644,3540,4.432974,232,0,0,50
2,2,Hazel F.,2018-10-10,This is located on the beach side of Waikiki a...,5,275,1428,4.292135,110,0,0,6
3,3,Sean A.,2018-10-07,Came here at nine on a Sunday. There was a sho...,3,155,839,4.422078,48,0,0,7
4,4,Chelsea S.,2018-10-02,"Finally came here for Aloha Hour, every day 3-...",4,433,2416,4.512586,159,0,1,8