In [1]:
# imports
import nltk
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import json

from textblob import TextBlob
from textblob import Word
from nltk.stem import PorterStemmer
try:
    from nltk.corpus import stopwords
    stop = stopwords.words('english')
except:
    nltk.download('stopwords')

In [7]:
json_data = {}

with open('../../data/raw/yp_kimos-maui-lahaina_rws.json') as f:
    json_data = json.loads(f.read())

dataset = json_normalize(json_data['reviews'])
dataset.head()

reviews = dataset.iloc[:,2]
reviews.head()

0    Kimo's never disappoints.  We come here once o...
1    I was there the first week of October and Firs...
2    This place was on my "Must Do Maui" list and i...
3    Monday night dinner here and they quickly sat ...
4    Nice view and amazing cocktails. They are loca...
Name: description, dtype: object

In [8]:
dataset['word_count'] = reviews.apply(lambda x: len(str(x).split(" ")))

In [9]:
dataset['chr_count'] = reviews.str.len()

In [10]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))
dataset['avg_word_len'] = reviews.apply(lambda x: avg_word(x))

In [11]:
dataset['num_of_stopwords'] = reviews.apply(lambda x: len([x for x in x.split() if x in stop]))

In [12]:
dataset['hashtags'] = reviews.apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [13]:
dataset['numerics'] = reviews.apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [14]:
dataset['uppercase_cnt'] = reviews.apply(lambda x: len([x for x in x.split() if x.isupper()]))

In [15]:
dataset.head()

,author,datePublished,description,ratingValue,word_count,chr_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,Sarina G.,2018-08-30,Kimo's never disappoints. We come here once o...,5,127,663,4.458333,45,0,0,3
1,Maxx C.,2018-10-05,I was there the first week of October and Firs...,3,100,488,4.277778,43,0,1,4
2,Veronica S.,2018-10-04,"This place was on my ""Must Do Maui"" list and i...",4,149,814,4.426667,65,0,0,0
3,Kathleen W.,2018-09-28,Monday night dinner here and they quickly sat ...,3,120,623,4.237288,52,0,2,0
4,Bhawna J.,2018-10-01,Nice view and amazing cocktails. They are loca...,5,65,393,5.061538,24,0,0,0

In [16]:
dataset.to_csv('../../data/processed/yp_kimos-maui-lahaina_rws_basicfeatures.csv')

In [17]:
dataset_test = pd.read_csv('../../data/processed/yp_kimos-maui-lahaina_rws_basicfeatures.csv')
dataset_test.head()

,Unnamed: 0,author,datePublished,description,ratingValue,word_count,chr_count,avg_word_len,num_of_stopwords,hashtags,numerics,uppercase_cnt
0,0,Sarina G.,2018-08-30,Kimo's never disappoints. We come here once o...,5,127,663,4.458333,45,0,0,3
1,1,Maxx C.,2018-10-05,I was there the first week of October and Firs...,3,100,488,4.277778,43,0,1,4
2,2,Veronica S.,2018-10-04,"This place was on my ""Must Do Maui"" list and i...",4,149,814,4.426667,65,0,0,0
3,3,Kathleen W.,2018-09-28,Monday night dinner here and they quickly sat ...,3,120,623,4.237288,52,0,2,0
4,4,Bhawna J.,2018-10-01,Nice view and amazing cocktails. They are loca...,5,65,393,5.061538,24,0,0,0